<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper 标签 用于指定配置文件所属的接口名，通过 namespace来指定 -->
<mapper namespace="dao.AddressInfoDao">

    <select id="findAllByUid" parameterType="int" resultType="AddressInfo">
        SELECT * FROM shippingaddress where uid=#{uid}
    </select>
    <update id="updateAddress" parameterType="AddressInfo">
        UPDATE shippingaddress name=#{name},address=#{address},tel=#{tel} where sid=#{sid}
    </update>
    <delete id="deleteAddress" parameterType="String">
        DELETE FROM shippingaddress where sid=#{sid}
    </delete>
</mapper>