<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CommodityInfoDao">
    <insert id="add" parameterType="CommodityInfo">
        INSERT INTO commodityinfo VALUES (#{cid},#{cname},#{dayprice},#{monthprice},#{yearprice},#{deposit},#{collocation},#{stock},#{brand},#{singlecost},#{image})
    </insert>
    <delete id="delete" parameterType="int">
        DELETE FROM commodityinfo where cid=#{cid}
    </delete>
    <update id="update" parameterType="CommodityInfo">
        UPDATE commodityinfo set
        cname=#{cname},
        dayprice=#{dayprice},
        monthprice=#{monthprice},
        yearprice=#{yearprice},
        deposit=#{deposit},
        collocation=#{collocation},
        stock=#{stock},
        brand=#{brand},
        singlecost=#{singlecost},
        image=#{image} WHERE cid=#{cid}
    </update>
    <select id="findAll" resultMap="CommodityMapper">
        SELECT * FROM commodityinfo A JOIN collocationinfo B ON A.`collocation`=B.cid
                                      JOIN imagelist C ON A.image=C.id
    </select>
    <select id="findById" parameterType="int" resultMap="CommodityMapper">
        SELECT * FROM commodityinfo A JOIN collocationinfo B ON A.`collocation`=B.cid
                                      JOIN imagelist C ON A.image=C.id
                                      WHERE A.cid=#{cid}
    </select>

    <select id="searchById" parameterType="int" resultMap="CommodityMapper">
        SELECT * FROM commodityinfo A JOIN collocationinfo B ON A.`collocation`=B.cid
        JOIN imagelist C ON A.image=C.id
        WHERE A.cid=#{cid}
    </select>

    <select id="searchByKeyword" parameterType="java.lang.String" resultMap="CommodityMapper">
        SELECT * FROM commodityinfo A JOIN collocationinfo B ON A.`collocation`=B.cid
        JOIN imagelist C ON A.image=C.id
        WHERE CONCAT(A.`cname`,A.`brand`,B.`level`,B.`color`,B.`pixel`,B.`condition`,B.`sensor`,B.`battery`)
        LIKE #{keyword}
    </select>

    <select id="findByBrand" parameterType="java.lang.String" resultMap="CommodityMapper">
        SELECT * FROM commodityinfo A JOIN collocationinfo B ON A.`collocation`=B.cid
                                      JOIN imagelist C ON A.image=C.id
                                      WHERE A.brand=#{brand}
    </select>

    <select id="findByLevel" parameterType="java.lang.String" resultMap="CommodityMapper">
        SELECT * FROM commodityinfo A JOIN collocationinfo B ON A.`collocation`=B.cid
                                      JOIN imagelist C ON A.image=C.id
                                      WHERE B.level=#{level}
    </select>

    <select id="findByCondition" parameterType="java.lang.String" resultMap="CommodityMapper">
        SELECT * FROM commodityinfo A JOIN collocationinfo B ON A.`collocation`=B.cid
                                      JOIN imagelist C ON A.image=C.id
                                      WHERE B.condition=#{condition}
    </select>

    <resultMap id="CommodityMapper" type="CommodityInfo">
        <id column="cid" property="cid"/>
        <result column="cname"  property="cname"/>
        <result column="dayprice"  property="dayprice"/>
        <result column="monthprice"  property="monthprice"/>
        <result column="yearprice"  property="yearprice"/>
        <result column="deposit"  property="deposit"/>
        <result column="collocation"  property="collocation"/>
        <result column="stock"  property="stock"/>
        <result column="brand"  property="brand"/>
        <result column="singlecost"  property="singlecost"/>
        <result column="image"  property="image"/>

        <association property="collocationInfo" javaType="CollocationInfo">
            <id column="cid" property="cid"/>
            <result column="level"  property="level"/>
            <result column="screensize"  property="screensize"/>
            <result column="color"  property="color"/>
            <result column="pixel"  property="pixel"/>
            <result column="condition"  property="condition"/>
            <result column="sensor"  property="sensor"/>
            <result column="battery"  property="battery"/>
        </association>

        <association property="imageList" javaType="entity.ImageList">
            <id column="id" property="id"/>
            <result column="image1" property="image1"/>
            <result column="image2" property="image2"/>
            <result column="image3" property="image3"/>
            <result column="image4" property="image4"/>
            <result column="image5" property="image5"/>
            <result column="image6" property="image6"/>
        </association>
    </resultMap>


</mapper>