<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"></properties>
    <typeAliases>
        <typeAlias type="entity.CommentInfo" alias="CommentInfo"/>
        <typeAlias type="entity.UserInfo" alias="UserInfo"/>
        <typeAlias type="entity.AddressInfo" alias="AddressInfo"/>
        <typeAlias type="entity.TransInfo" alias="TransInfo"/>
        <typeAlias type="entity.Generalledger" alias="Generalledger"/>
        <typeAlias type="entity.CommodityInfo" alias="CommodityInfo"/>
        <typeAlias type="entity.CollocationInfo" alias="CollocationInfo"/>
        <typeAlias type="entity.ContractInfo" alias="ContractInfo"/>
        <typeAlias type="entity.ManagerInfo" alias="ManagerInfo"/>
        <typeAlias type="entity.ContractInfo" alias="ContractInfo"/>
        <typeAlias type="entity.ImageList" alias="ImageList"/>
    </typeAliases>
    <environments default="one">

        <!-- 配置一个运行的环境，环境的编号为one -->
        <environment id="one">
            <!-- 指定事物处理交给JDBC来处理 -->
            <transactionManager type="JDBC" />
            <!-- 配置数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${uid}" />
                <property name="password" value="${pwd}" />
            </dataSource>
        </environment>
    </environments>
    <!-- 指定增删改查所需要 映射文件 -->
    <mappers>
        <mapper resource="dao/CommentDaoMapper.xml"/>
        <mapper resource="dao/UserInfoDaoMapper.xml"/>
        <mapper resource="dao/OrderinfoDaoMapper.xml"/>
        <mapper resource="dao/AddressInfoDaoMapper.xml"/>
        <mapper resource="dao/TransDaoMapper.xml"/>
        <mapper resource="dao/GeneralLedgerDaoMapper.xml"/>
        <mapper resource="dao/CommodityInfoDaoMapper.xml"/>
        <mapper resource="dao/CollocationInfoDaoMapper.xml"/>
        <mapper resource="dao/ManagerInfoDaoMapper.xml"/>
        <mapper resource="dao/ContractInfoDaoMapper.xml"/>
        <mapper resource="dao/ImageListDaoMapper.xml"/>
    </mappers>
</configuration>
